body {
  display: flex;
  justify-content: center;
}

.calc_whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid gray;
  border-radius: 15px;
  background-color: gray;
  width: 380px;
  padding-top: 10px;
}

.answer{
  width: 350px;
  /*align-items: stretch;*/
  height: 100px;
  line-height: 100px;
  background-color: lightgray;
  text-align:right;
  margin: auto 0;
  font-size: 40px;
}


.calc_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column_op {
  display: flex;
  flex-direction: column;
}

.number_div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calc_buttons button {
  font-size: 30px;
  margin: 10px;
  height: 50px;
  width: 70px;
}
